body {
    font-family: TikTok Sans, monospace;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: #283747;
}
.container {
    background-color: #34495e;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.modal-container {
    background-color: #283747;
    color: white;
    border-radius: 8px;
    border-color: transparent;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Уровень размытия */
}
.container-with-input {
    display: flex;
}
.tariffs-for-lastMonth,
.tariffs-for-thisMonth {
    padding: 2px;
    width: 100%;
    max-width: 100%;
}
h1 {
    text-align: center;
    font-weight: 300;
}
h3 {
    text-transform: uppercase;
    font-weight: 300;
}
.section {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #d5d8dc;
    border-radius: 5px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.section-title {
    color: #5499c7;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.input-group {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}
input {
    padding: 5px;
    width: 100px;
    border: 1px solid #d5d8dc;
    border-radius: 4px;
    background-color: #283747;
    color: white;
    font-size: 16px;
}
button {
    background-color: #d5d8dc;
    color: #283747;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    background-color: #aeb6bf;
    color: white;
}
#tariffs-Modal-Window-Button {
    position: absolute;
    right: 2px;
    top: 17px;
}
.button-section {
    display: flex;
    justify-content: center;
    margin: 2px;
}
.result {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    padding: 15px;
    background-color: #283747;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}
.result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.total {
    font-size: 16px;
    border-top: 1px solid #d5d8dc;
    padding-top: 10px;
    margin-top: 10px;
}
.error {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 825px) {
    .container {
        padding: 0;
    }
    .input-group {
        flex-wrap: wrap;
    }
    #tariffs-Modal-Window-Button {
        position: static;
    }
}

@media (max-width: 752px) {
    input {
        width: 100px;
        max-width: 100%;
    }
}

@media (max-width: 615px) {
    .input-group {
        justify-content: center;
        flex-direction: column;
    }
}